# Google AdWords
ADWORDS_CLIENT_ID='Your AdWords client ID'
ADWORDS_SECRET='Your AdWords secret'
ADWORDS_REFRESH_TOKEN='Your AdWords refresh token'
ADWORDS_DEVELOPER_TOKEN='Your AdWords developer token'
ADWORDS_CLIENT_CUSTOMER_ID='Your AdWords client customer ID'
ADWORDS_USER_AGENT='Your AdWords user agent string'
ADWORDS_TEST_ACCOUNT_ID='An AdWords test account'
